<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

</head>
<body>
    <div id="container">
        <div id="header">
            Welcome <%= my_user %>
        </div>
        <div id="body">
            <div id="leftBodyContent">
                
            </div>
            <div id="rightBodyContent">
                <a href="/main"><div id="playGameButton">Play Game!</div></a>
            </div>
        </div>
    </div>

    
</body>
</html>